.env
data/acled
data/shapefiles
data/ucdp/GEDEvent_v23_1.csv
archive/news_sentiment/data/
# *.csv
*.log
.DS_Store
*.bin
horizon_scan/seminal/

# *.json
!*/hadr/app/data/*.json
!rf_edited.json

/__pycache__/
*.pyc

