requests
bs4
pandas
numpy
matplotlib
seaborn
python-dotenv
requests
selenium
webdriver_manager
gensim
xgboost
nltk
scikit-learn
openai
networkx
pyvis
nbimporter
nbformat
streamlit
geopandas
pycountry
googlesearch-python
newspaper3k
imbalanced-learn
ellipsis
h3pandas
sepplotlib